{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="well">
        <div class="jumbotron" style="text-align:center">
            <h3 class="nameuser"> {{user.username|capitalize}} </h3>
            {% if user.bio %}
            <p> <strong>{{user.bio}}</strong></p>
        {%else%}
            <p> {{user.username| capitalize}} has no bio </p>
        {% endif %}
        {% if user == current_user %}
        <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}
        </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h1 style="text-decoration:underline"> <strong>My Blog Posts</strong></h1>
                {% for posts in myposts %}
                    {% if posts.user_id == current_user.id %}
                        <h2>{{posts.title}}</h2>
                        <p>{{posts.post}}</p>
                        <p>{{posts.posted}}</p>
                    {% endif %}
                {% endfor %}
            </div>           
                </div>

            <!--Display profile photo-->
        <div class="col-md-6">

            {% if user.profile_pic_path %}
                <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
            {%else%}
                <p>No profile picture</p>
            {% endif %}
            {% if user == current_user %}
            <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
        
              <input type="file"  name="photo" class="form-control" required>
              <br>
              <input type="submit" class="btn btn-primary">
            </form>
              {% endif %}
        </div>
 
        

    </div>
    </div>
</div>
{% endblock %}